#top{
    background-color: #151526;
    min-height: 10vh;
    align-content: center;
}
#center{
    background-color: #050509;
    min-height: 80vh;
    align-content: center;
}
#center div{
    display: inline-block;
    vertical-align: middle;
}
#bottom{
    background-color: #FFF;
    min-height: 30vh;
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    
}
p,b,strong,span,li,ul,ol,h1,h2,h3,h4,h5,h6,pre,table, select, option, label{
    font-family: 'Verdana', sans-serif;
    background-color: inherit;
    font-size: 1.6vmax;
    font-weight: 100;
    color: #3A3A3A
}
a{
    font-family: 'Verdana', sans-serif;

    background-color: inherit;
    font-size: 1.25vmax;
    font-weight: 100;
    color: #474747
}
#btn, #inputfile,button, h1,#logo{
    align-self: center;
    font-family: 'Verdana', sans-serif;

    padding: 1vmin;
    margin: 1vmin;
    size: 4vmax;
    font-size: 1.6vmax;
    font-weight: 100;
    color: #333333
}
#btn, #inputfile, button{
    background-color: #AAA;
    border-radius: 0.5vmin;
    border: 1vmin solid #939393;
    display: block;
    max-width: 38vw;
}
.slider{
    margin: none;
    min-width: 100px;
    max-width: 300px;
    width: 8vmax
}
#output{
    display: block;
    opacity: 0;
    font-size: 0.1vmin;

}
#header{
    display: block;
    align-items: center;
}
.content{
    margin: 3.5vmin
}
#footer{
    margin-top: 10vh;
    border-top: 1vmax solid #999;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    align-content: center;
    display: inline-block;
    text-align: center;
}
#header h1 {
    display: inline-block;
    
}
#image{
    width:4vw;
    align-self: center;
    opacity: 0.25;
}
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80vw;
    height: 80vh;
}
#chart_text{
    width: auto;
    font-size : 3.5vw
}
#graph_menu{
    display: inline-block;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 60vw;
    font-size : 3vmin;
    align-content: center;
    background-color: #CCC;
    background-size: cover;
    border-top: 1vmax solid #999;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}
#animation_placeholder{
    display: inline-block;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    background-color: #FFF;
    border-top: 1vmax solid #999;
    text-align: center;

}
.black{
    color: #444;
}
.htu{
    font-size: 1.3vmax;
    color: #666
}
#site-header b, #site-header{
    align-self: center;
    text-align: center;
    font-weight: 400;
    color: #666;
}