#top{
    background-color: #9AD;
    min-height: 10vh;
    align-content: center;
}
#center{
    background-color: #DDE;
    min-height: 80vh;
    align-content: center;
}
#center div{
    display: inline-block;
    vertical-align: middle;
}
#bottom{
    background-color: #BBC;
    min-height: 30vh;
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
}
p,a,b,strong,span,li,ul,ol,h1,h2,h3,h4,h5,h6,pre,table{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;
    font-size: 1.6vmax;
    font-weight: 400;
}
#btn, #inputfile,button, h1, #logo{
    align-self: center;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    padding: 1vmin;
    margin: 1vmin;
    size: 4vmax;
    font-size: 1.6vmax;
    font-weight: 400;
}
.slider{
    margin: none;
    min-width: 100px;
    max-width: 300px;
    width: 8vmax
}
#output{
    display: block;
    opacity: 0;

}
#header{
    display: block;
    align-items: center;
}
#header h1 {
    display: inline-block;
    
}
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#chart_text{
    width: 70vw;
    margin-left: 20vw;
    font-size : 3.5vw
}
#graph_menu{
    display: inline-block;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size : 3vmin;
    align-content: center;
}