#top{
    background-color: #9AD;
    min-height: 20vh;
    align-content: center;
}
#bottom{
    background-color: #BBC;
    min-height: 80vh;
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    align-self: start;
}
p,a,b,strong,span,li,ul,ol,h1,h2,h3,h4,h5,h6,pre,table{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;
    font-size: 1.8vw;
    font-weight: 400;
}
#btn, #inputfile,button, input{
    align-self: center;
    padding: 1vw;
    margin: 1vw;
}