#top{
    background-color: #9AD;
    min-height: 10vh;
    align-content: center;
}
#center{
    background-color: #DDE;
    min-height: 80vh;
    align-content: center;
}
#center div{
    display: inline-block;
    vertical-align: middle;
}
#bottom{
    background-color: #BBC;
    min-height: 30vh;
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
}
p,a,b,strong,span,li,ul,ol,h1,h2,h3,h4,h5,h6,pre,table{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;
    font-size: 1.8vw;
    font-weight: 400;
}
#btn, #inputfile,button, input, h1, #logo{
    align-self: center;
    padding: 1vw;
    margin: 1vw;
}
#output{
    display: none
}
#header{
    margin:auto;
    align-self: center;
    align-content: center;
    text-align: center;
    border-bottom: 1vw solid #77B;
}
#header img,
#header h1 {
    display: inline-block;
    vertical-align: middle;
    
}
#logo{

    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 4%;

}
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px inset #CCD ;
}