#contents{
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 80vw;
    display: inline-block;
    text-align: center;
    align-items: center;
    border-bottom: 1vmax solid #999;
}
#header #logo{
   width: 4vmax;
   margin: auto;
   vertical-align: middle;
   height: 4vmax;

}
#contents #text{
    font-size: 2vmax;
    padding: none;
    display: inline-block;
}